
body {
    font-size: 8pt;
    font-family: arial,helvetica,sans-serif;
    color: $th-color;
    text-align: center;
}
.category {
    user-select: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    // height: 24px;
    // line-height: 24px;
    height: 35px;
    line-height: 35px;
    font-size: 9pt;
    border-radius: 0.1875rem;
    color: #f1f1f1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    width: 98px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
}
.category:hover {
    opacity: 0.8;
}
.ct0 {
    background: radial-gradient(#707070, #9e9e9e);
    border: 1px solid #707070;
}
.ct1 {
    background: radial-gradient(#fc4e4e, #f26f5f);
    border: 1px solid #fc4e4e;
}
.ct2 {
    background: radial-gradient(#e78c1a, #fcb417);
    border: 1px solid #e78c1a;
}
.ct3 {
    background: radial-gradient(#c7bf07, #dde500);
    border: 1px solid #c7bf07;
}
.ct4 {
    background: radial-gradient(#1a9317, #05bf0b);
    border: 1px solid #1a9317;
}
.ct5 {
    background: radial-gradient(#2756aa, #5f5fff);
    border: 1px solid #2756aa;
}
.ct6 {
    background: radial-gradient(#8800c3, #9755f5);
    border: 1px solid #8800c3;
}
.ct7 {
    background: radial-gradient(#b452a5, #fe93ff);
    border: 1px solid #b452a5;
}
.ct8 {
    background: radial-gradient(#0f9ebd, #08d7e2);
    border: 1px solid #0f9ebd;
}
.ct9 {
    background: radial-gradient(#5dc13b, #14e723);
    border: 1px solid #5dc13b;
}
.star45{

    height:20px;
    width: 80px;
    background:160px 20px  url(/@/assets/star.png);
}
.th-td{
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #ffffff;
    border-color: #f26553;
    border-width: 2px;
    word-break: break-all;
}