$dark-color: #545c64;
$exhentai-bgcolor: #E3E0D1;
$exhentai-color: #5C0D11;
$eh-color: $exhentai-color;
$sass-color: #cc6699;
$web3-bgcolor: #fff2ec;
$web3-color: #171691;
$th-color: $web3-color;
$th-bgcolor: $web3-bgcolor;